.contactData {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  padding: 8px;
}

.contactItem {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 296px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid gray;
  transition: 0.3s ease-in-out;
}

.contactItem:hover {
  background-color: lightgrey;
}

.contactName {
  font-weight: bold;
  color: darkolivegreen;
}

.contactNumber {
  color: darkgrey;
}

.deleteButton {
  border: 1px solid white;
}

.contactIcon,
.phoneIcon {
  margin-right: 8px;
}
