.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 15px 0;
}

.submitButton {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #45a049;
}

.inputError {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 4px;
}
